<div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
<h1>Listing Articles</h1>
<%= link_to 'New article', new_article_path, :class => "btn btn-block btn-info", :type => "button" %>
<table class ="table table-bordered table-hover table-condensed">
  <thead>
  <tr>
    <th colspan="1">Name</th>
    <th colspan="1">Number of people</th>
    <th>Time signed in</th>
    <th>Commands</th>
  </tr>
  </thead>
 
  <% @articles.each do |article| %>
    <tr>
      <td><%= article.title %></td>
      <td><%= article.text %></td>
      <td>Time.now.strftime(%l:%M %P)</td>
      <td><%= link_to "Edit", edit_article_path(article), :class => "btn btn-primary btn-sm", :type => "button" %><%= button_to 'Delete', article_path(article),
              :class => "btn btn-danger btn-sm", :type => "button", method: :delete,
              data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
</table>
</div>
</div>

